<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th>氏名</th>
      <th class=text-right>年齢</th>
      <th class="text-right">サウナ歴</th>
      <th class="text-right">セット回数</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <th><%= attachment_image_tag(user, :image, :fill, 80, 80, fallback: "no_image.jpg") %></th>
        <th><%= user.name %></th>
        <th class="text-right"><%= user.age %>歳</td>
        <th class="text-right"><%= user.sauna_years %></td>
        <th class="text-right"><%= user.number_of_sets %></td>
        <th><%= link_to '詳細', user_path(user), class: "user_#{user.id}" %></th>
      </tr>
    <% end %>
  </tbody>
</table>