<div class='container'>
  <div class='row'>
    <div class='col-md-12 offset-md-1'>
  		<h2>USER SHOW</h2>

  <table class='table'>
  		  <tr>
  		    <td><%= link_to "ユーザー", users_path %>
            <td><%= attachment_image_tag(@user, :image, :fill, 100, 100, fallback: "no_image.jpg") %><br></td>
            <td><%= @user.name %></td>
            <td><%= @user.age %></td>
            <td><%= @user.sauna_years %></td>
            <td><%= @user.number_of_sets%></td>
          </td>
          <% if current_user.id == @user.id %>
          <td><%= link_to 'Edit', edit_user_path(@user), class: "btn btn-sm btn-success edit_user_#{@user.id}" %></td>
          <td><%= link_to 'Destroy', user_path(@user), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_post_#{@user.id}"%></td>
          <% end %>
      </table>

