<%= form_with model: post, local: true do |f| %>

  <div class="field">
    <%= f.label "名前" %><br />
    <%= f.text_field :sauna_name, autofocus: true, autocomplete: "sauna_name" %>
  </div></br>

  <div class="field">
    <%= f.label "住所" %><br />
    <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
  </div></br>

  <div class="field">
    <%= f.label "ホームページURL"%><br />
    <%= f.text_field :url, autofocus: true, autocomplete: "url" %>
  </div></br>

  <div class="form-group">
    <%= "サウナ画像" %><br />
    <%= f.attachment_field :sauna_image%></div></br>

  <div class="form-group">
    <%= f.label :sauna_temperature,"サウナ温度" %><br />
    <%= f.select :sauna_temperature,[["80°", "80°"], ["85°", "85°"], ["90°", "90°"],["95°", "95°"],["それ以上", "それ以上"]], include_blank: "選択して下さい",class:"form-control" %>
  </div></br>

  <div class="form-group">
    <%= f.label :water_bath_temperature,"水風呂温度" %><br />
    <%= f.select :water_bath_temperature,[["20°", "20°"], ["15°", "15°"], ["13°", "13°"],["10°", "10°"],["その他", "その他"]], include_blank: "選択して下さい",class:"form-control" %>
  </div></br>

  <div class="form-group">
    <%= f.label :outside_air_bath,"外気浴" %><br />
    <%= f.select :outside_air_bath,[["普通", "普通"], ["良い", "良い"], ["良くない", "良くない"]], include_blank: "選択して下さい",class:"form-control" %>
  </div></br>

  <div class="form-group">
    <%= f.label :congestion,"混雑具合" %><br />
    <%= f.select :congestion,[["普通", "普通"], ["混雑", "混雑"], ["空いてる", "空いてる"]], include_blank: "選択して下さい",class:"form-control" %>
  </div></br>

  <div class="form-group">
    <%= f.label :time_zorn,"時間帯" %><br />
    <%= f.select :time_zorn,[["9時〜12時", "9時〜12時"], ["12時〜15時", "12時〜15時"], ["15時〜18時", "15時〜18時"], ["18時〜21時", "18時〜21時"], ["21時〜24時", "21時〜24時"], ["その他", "その他"]], include_blank: "選択して下さい",class:"form-control" %>
  </div></br>

  <div class="form-group">
    <%= f.label :congestion,"瓶自動販売機" %><br />
    <%= f.select :congestion,[["ある", "ある"], ["ない", "ない"]], include_blank: "選択して下さい",class:"form-control" %>
  </div></br>

  <div id="evaluate_stars">
    <label>評価</label>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>
<script>
  $('#evaluate_stars').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'post[evaluation]' //登録するモデル名とカラム名を記述
  });
</script>
