<% posts.each do |post| %>
<div>
  <%= link_to post_path(post.id) do %>
  <tr>
      <td><%= attachment_image_tag post, :sauna_image %></td>
      <td><%= post.sauna_name %></td>
      <% end %>
      <td><%= post.url %></td>
      <td><%= post.evaluation %></td>
      <td><%= post.authorization %></td>
　    <td><%= link_to 'Show', post_path(post), class: "post_#{post.id}" %></td>
  </tr>
</div>
<% end %>