<% posts.each do |post| %>
<div>
  <%= link_to post_path(post.id) do %>
  <tr>
      <th><%= attachment_image_tag post, :sauna_image, format: 'jpeg', size: "270x270" %></th>
      <th><%= post.sauna_name %></th>
      <% end %>
      <th><%= link_to post.url, post.url %></th>
      <th class="post_evaluation" data-score="<%= post.evaluation %>"></th>
      <th>
        <% if current_user.admin %>
          <%= link_to posts_change_auth_path(id: post.id) do %>
            <% if post.authorization %>
              <i class="fas fa-star"></i>
            <% else %>
              <i class="far fa-star"></i>
            <% end %>
          <% end %>
        <% else %>
          <% if post.authorization %>
            <i class="fas fa-star"></i>
          <% else %>
            <i class="far fa-star"></i>
          <% end %>
        <% end %>
      </th>
      <th><i class="far fa-comment-dots"></i><%= link_to "#{post.comments.count}件 ", post_path(post.id) %></th>
      <th id="like_buttons_<%= post.id %>" nowrap><%= render "likes/likes", post: post %></th>
　    <th><%= link_to '詳細', post_path(post), class: "btn btn-sm btn-info post_#{post.id}" %></th>
  </tr>
</div>
<% end %>


  <script>
  $('.post_evaluation').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
　</script>
