
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-12'>

  		<h2>投稿</h2>
  		<table class="table table-striped">
  		    <div class="p-2 bd-highlight"><%= link_to "ユーザー一覧", users_path %></div>
  		    <div class="d-flex justify-content-end">by<%= @post.user.name %></div>
  		    <div class="d-flex justify-content-center">[<%= @post.sauna_name %>]
  		       <% if current_user.admin %>
                <%= link_to posts_change_auth_path(id: @post.id) do %>
                  <% if @post.authorization %>
                    <i class="fas fa-star"></i>
                  <% else %>
                    <i class="far fa-star"></i>
                  <% end %>
                <% end %>
              <% else %>
                <% if @post.authorization %>
                  <i class="fas fa-star"></i>
                <% else %>
                  <i class="far fa-star"></i>
                <% end %>
              <% end %></div>
  		      <div class="d-flex justify-content-center"><%= attachment_image_tag(@post, :sauna_image, :fill, 700, 500, fallback: "no_image.jpg") %></div></br>
            <div class="d-flex justify-content-center">住所：<%= @post.address %></div>
            <div class="d-flex justify-content-center">HP：<%= @post.url %></div>
            <div class="d-flex justify-content-center">サウナ温度：<%= @post.sauna_temperature %></div>
            <div class="d-flex justify-content-center">水風呂温度：<%= @post.water_bath_temperature %></div>
            <div class="d-flex justify-content-center">外気浴：<%= @post.outside_air_bath %></div>
            <div class="d-flex justify-content-center">混雑具合:<%= @post.congestion %></div>
            <div class="d-flex justify-content-center">時間帯：<%= @post.time_zorn %></div>
            <div class="d-flex justify-content-center">瓶ジュース：<%= @post.vending_machine %></div>
            <div class="d-flex justify-content-center"></div>

            <td class="post_evaluation" data-score="<%= @post.evaluation %>"></td>

            <td>
              <%= form_with(model:[@post, @comment], local: true) do |f| %>
              <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
              <%= f.submit "送信する" %>
              <% end %>
            </td>
  　　   　　　<td id="like_buttons_<%= @post.id %>" nowrap><%= render "likes/likes", post: @post %></td>
            <% if current_user.id == @user.id %>
            <td><%= link_to '編集', edit_post_path(@post), class: "btn btn-sm btn-success edit_book_#{@post.id}" %></td>
            <td><%= link_to '削除', post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_post_#{@post.id}"%></td>
            <% end %>

      </table>



            <div class="d-flex justify-content-end"><i class="far fa-comment-dots"></i>✖︎<%= @post.comments.count %></p>,
            <% @post.comments.each do |comment| %>
              <%= comment.created_at.strftime('%Y/%m/%d') %></br>
              <%= comment.comment %>
              by<%= comment.user.name %>
              <% if comment.user == current_user %>
              <div>
                <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
              <% end %>
              </div>

            <% end %></div>


        <div id= "map">


        </div>


        </div>
        <div>
        </div>
    </div>
  </div>
  <script>
  $('.post_evaluation').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
　</script>
　<style>
    #map {
      height: 400px;
      width: 600px;
    }
  </style>
  <script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: gon.post.latitude, lng: gon.post.longitude},
      zoom: 8
    });
  }
</script>

  <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_API']%>&callback=initMap"></script>