
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-12'>

  		<h2>投稿</h2>
  		<table class='table table-hover table-inverse'>
  		  <tr>
  		    <td><%= link_to "ユーザー一覧", users_path %>
            <td><%= attachment_image_tag(@post, :sauna_image, :fill, 300, 300, fallback: "no_image.jpg") %></br></td>
            <td>
              <% if current_user.admin %>
                <%= link_to posts_change_auth_path(id: @post.id) do %>
                  <% if @post.authorization %>
                    <i class="fas fa-star"></i>
                  <% else %>
                    <i class="far fa-star"></i>
                  <% end %>
                <% end %>
              <% else %>
                <% if @post.authorization %>
                  <i class="fas fa-star"></i>
                <% else %>
                  <i class="far fa-star"></i>
                <% end %>
              <% end %>
            </td>
            <td><%= @post.user.name %></td>
            <td><%= @post.sauna_name %></td>
            <td><%= @post.address %></td>
            <td><%= @post.url %></td>
            <td><%= @post.sauna_temperature %></td>
            <td><%= @post.water_bath_temperature %></td>
            <td><%= @post.outside_air_bath %></td>
            <td><%= @post.congestion %></td>
            <td><%= @post.time_zorn %></td>
            <td><%= @post.vending_machine %></td>
            <td><%= @post.comprehensive_evaluation %></td>
            <td><%= @post.vending_machine %></td>
            <td class="post_evaluation" data-score="<%= @post.evaluation %>"></td>
          </td>
          <td>
            <%= form_with(model:[@post, @comment], local: true) do |f| %>
            <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
            <%= f.submit "送信する" %>
            <% end %>
          </td>
　　　　　<td id="like_buttons_<%= @post.id %>" nowrap><%= render "likes/likes", post: @post %></td>
          <td><%#= link_to @book.title, book_path(@book) %></td>
          <td><%#= @book.body %></td>
          <% if current_user.id == @user.id %>
          <td><%= link_to '編集', edit_post_path(@post), class: "btn btn-sm btn-success edit_book_#{@post.id}" %></td>
          <td><%= link_to '削除', post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_post_#{@post.id}"%></td>
          <% end %>
        </tr>
      </table>


        <div>
        <p>コメント件数：<%= @post.comments.count %></p>
        <% @post.comments.each do |comment| %>
          <%= comment.created_at.strftime('%Y/%m/%d') %></br>
          <%= comment.comment %>
          by<%= comment.user.name %>
          <% if comment.user == current_user %>
          <div>
            <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
          <% end %>
          </div>

        <% end %>


        </div>
        <div>
        </div>
    </div>
  </div>
  <script>
  $('.post_evaluation').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
　</script>
